body{font-size: 12px;color: #522a06;padding:0px;margin: 0px;
    background-image: url(../images/bj.jpg);} 
li{list-style-type: none;}
a:hover{color:red;
		text-decoration:none;}
a:link{
		text-decoration:none;}
#header{height: 205px;background-image: url(../images/banner.jpg);
    background-position: center top;
}
#banner{width: 1000px;height: 165px;background-position: center;}
.img{margin-left:150px;margin-top:38px;width: 400px;height: 100px;}
#nav{height:40px;
	background-image:url(../images/nav.jpg);}
.nav-body{width:1000px;text-align:center;
		margin-left:150px;}
.daohanglan{width:800px;height:40px;float:left;margin-top:10px;}
.a2{color:white;font-weight:bolder;}
.a1{color:#f9f603;font-weight:bolder;}
.a3{width:140px;height:19px;
	background-color:#f8f5ee;}
.a4{width:44px;height:21px;background-color:#000;
	color:#fff;border:1px solid #f8f5ee;}
.sousuokuang{float:left;margin-top:10px;}
.black{color: black;}
.green{color: green;}

#mid{width: 1000px;  clear: left right;margin-left: 180px;}
.h1{font-size:30px;color: green;font-family: '楷体';
   font-weight: bolder; height: 5px;}
#top{height: 243px;}

.fengjing{width: 320px;height: 243px;float: left;}
.fengjing a:link{width: 290px;height:10px;font-size:30px;
                 font-family:'楷体';color: green;
                 font-weight: bolder; }
.a6{width: 290px;height: 210px;}
.fengjing a:hover{color: red;font-size: 35px;}

.list{width: 340px;height: 300px;float: left;}
.b2{width: 330px;height: 120px;}
.b4{font-size: 20px;font-family: '楷体';
    font-weight: bold;margin-bottom: :3px;}
.b3{font-size: 12px;font-family: '宋体';font-weight: normal;
    padding: 5px;color: black;}
.b5{font-size: 20px;font-family: '楷体';font-weight: bold;
    margin-bottom: 3px;}
.b6{font-size: 12px;font-family: '宋体';font-weight: normal;
    padding: 5px;}


.list2{width: 320px;height: 300px;float: left;}
.c2{width: 300px;height: 120px;}
.c4{font-size: 20px;font-family: '楷体';
    font-weight: bold;margin-bottom:3px;}
.c3{font-size: 12px;font-family: '宋体';font-weight: normal;
    padding: 5px;}
.c5{font-size: 20px;font-family: '楷体';font-weight: bold;
    margin-bottom: 3px;}
.c6{font-size: 12px;font-family: '宋体';font-weight: normal;
    padding: 5px;}

#zhong{width: 1000px;height: 250px;}

.d2{font-size: 20px;}
.d3{width: 220px;height: 195px;float: left;}
.d4{width: 220px;height: 195px;float: left;}
.d5{font-size: 12px;font-family: '宋体';font-weight: normal;
    padding: 5px;}
.d6{width: 270px;height: 230px;float: left;}
.d{font-size:30px;font-family:'楷体';
    font-weight: bolder; color: green;}
.d1 a:link{width: 290px;height:10px;font-size:30px;
                 font-family:'楷体';color: green;
                 font-weight: bolder;}
.d1 a:hover{color: red;font-size: 35px;}

.e1{width: 200px;height: 50px;float: left;}
.e2{font-size: 20px;}
.e3{width: 200px;height: 195px;float: left;}
.e4{width: 200px;height: 195px;float: left;}
.e5{font-size: 12px;font-family: '宋体';font-weight: normal;
    padding: 5px;}
.e6{width: 300px;height: 230px;float: left;}

.f1{width: 1000px;height: 80px;}
.f{font-size:30px;font-family:'楷体';
    font-weight: bolder; color: green;}
.f2{width: 1000px;height: 200px;}
.f3{width: 190px;height: 170px;}
.f1 a:link{width: 290px;height:10px;font-size:30px;
                 font-family:'楷体';color: green;
                 font-weight: bolder;}
.f1 a:hover{color: red;font-size: 35px;}


#footer{height:105px;clear:both;}
.g1{width: 1000px;height: 2px;margin: 5px auto;
    background-image:url(../images/nav.jpg); }
.g2{width:500px;margin:20px auto;}
.g2 ul li{float:left;text-align:center;list-style:none;}
.g2 ul li a{font-weight:bold;color:black;}
.g2 ul li a:hover{color: red;}
.g3{width:550px;margin:5px auto;}
.g4{width:400px;margin:5px auto;}
.g5{width:300px;margin:5px auto;}
.g6{width:320px;margin: 5px auto;}