.menu{width:1005px;
	  background-image:url(../image/bg.gif);
	  background-repeat: no-repeat;}
.menu{height:75px;
	  text-align:center;
	  color:green;
	  font-size:12px;
	  font-weight:bold;}
ul{width:1005px;
	margin:auto;
	height:75px;
	line-height:75px;
	vertical-align:middle;
    list-style-type: none;}
li{float:left;padding:0px 15px;}
a{color:white;text-decoration:none;}
a:hover{color:green;}
.specil {color:orange;}